/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
html:focus-within {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img,
picture {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  overflow-x: hidden;
  font-size: 10px;
  font-family: sans-serif;
  &::-webkit-scrollbar {
    width: 0;
  }
}

body {
  background-color: #171717;
  color: #ccc;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

div.container {
  width: 100%;
  height: 100%;
  background-color: #171717;
  position: relative;
}

div.wrapper {
  width: 90vw;
  margin: auto;
  padding-bottom: 3rem;
}

.flash {
  margin: 1rem 0;
  padding: 1rem 1.5rem;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  background-color: #234022;
  color: #e4f5e3;

  &--alert {
    background-color: #5c1a1a;
    color: #ffecec;
  }

  &--error {
    background-color: #5c1a1a;
    color: #ffecec;
  }
}

div.alt-header {
  height: 10rem;
}

header {
  position: fixed;
  width: 90vw;
  display: flex;
  align-items: center;
  z-index: 100;
  a {
    text-decoration: none;
  }
}

div.logo {
  color: #ccc;
  font-size: 5rem;
  font-weight: bold;
  transition: 0.3s;
  @media screen and (max-width: 800px) {
    font-size: 4rem;
  }
}

a.mypage {
  position: fixed;
  right: calc(5vw + 10rem);
  display: block;
  text-decoration: none;
  color: inherit;
  width: fit-content;
  height: 3rem;
  line-height: 3rem;
  font-size: 2rem;
  padding: 0 1rem;
  background-color: #007700;
  border-radius: 5px 5px;
  @media (hover: hover) {
    &:hover {
      filter: brightness(1.1);
    }
  }
  @media screen and (max-width: 800px) {
    right: calc(5vw + 5rem);
  }
}

div.hmb {
  margin-left: auto;
  margin-right: 0;
  position: relative;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  span {
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    transition: 0.3s;
    background-color: #ccc;
    &:first-of-type {
      top: 1.5rem;
    }
    &:nth-last-of-type(2) {
      top: calc(50% - 1.5px);
    }
    &:last-of-type {
      bottom: 1.5rem;
    }
  }
  @media screen and (max-width: 800px) {
    width: 4rem;
    height: 4rem;
    span {
      height: 2.4px;
      &:first-of-type {
        top: 0.9rem;
      }
      &:nth-last-of-type(2) {
        top: calc(50% - 1.2px);
      }
      &:last-of-type {
        bottom: 0.9rem;
      }
    }
  }
  @media (hover: hover) {
    &:hover {
      span {
        &:first-of-type {
          top: 0.5rem;
        }
        &:last-of-type {
          bottom: 0.5rem;
        }
      }
    }
  }
  &.active {
    span {
      background-color: #ccc;
      &:first-of-type {
        top: calc(50% - 1.5px);
      }
      &:last-of-type {
        bottom: calc(50% - 1.5px);
      }
    }
  }
}

.menu {
  position: relative;
  position: fixed;
  top: 0;
  left: 100%;
  width: 100vw;
  height: 100vh;
  background-color: #111;
  z-index: 99;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  padding-top: 15rem;
  overflow-y: auto;
  ul {
    list-style: none;
    padding-left: 0;
    font-size: 4rem;
    margin-bottom: 2rem;
    @media screen and (max-width: 800px) {
      font-size: 3rem;
    }
    li {
      width: 90%;
      margin: auto;
      padding: 1rem;
      border-bottom: 1px solid #ccc;
      text-align: center;
      transition: 0.3s;
      @media (hover: hover) {
        &:hover {
          background-color: lighten($color: #222, $amount: 20%);
        }
      }
    }
    a {
      text-decoration: none;
      color: inherit;
    }
  }
  .menu-admin-link {
    display: block;
    text-align: center;
    font-size: 2.4rem;
    color: #ccc;
    text-decoration: none;
    padding: 0.6rem 1.2rem;
    margin: 2rem auto;
    width: fit-content;
    border-bottom: 1px solid #ccc;
    transition: 0.2s ease;

    @media screen and (max-width: 800px) {
      font-size: 2rem;
      padding: 0.4rem 0.8rem;
    }

    @media (hover: hover) {
      &:hover {
        background-color: #2f2f2f;
        color: #fff;
      }
    }
  }
  .menu-signout {
    display: block;
    width: 6rem;
    height: 6rem;
    margin: 2rem auto 0;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    transition: transform 0.2s ease;

    @media screen and (max-width: 800px) {
      width: 5rem;
      height: 5rem;
    }

    &:focus-visible {
      outline: 2px solid #f5f5f5;
      outline-offset: 4px;
    }

    @media (hover: hover) {
      &:hover {
        transform: scale(1.05);
      }
    }

    &__icon {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
  &.active {
    left: 0;
  }
}

.signout-modal {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
  z-index: 130;

  &.is-open {
    opacity: 1;
    pointer-events: auto;
  }

  &__overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }

  &__dialog {
    position: relative;
    z-index: 1;
    width: 90%;
    max-width: 360px;
    padding: 2.4rem 2rem;
    background-color: #222;
    border-radius: 0.8rem;
    box-shadow: 0 20px 45px rgba(0, 0, 0, 0.35);
    text-align: center;
  }

  &__title {
    margin: 0 0 1rem;
    font-size: 2rem;
    color: #fff;
  }

  &__message {
    margin: 0 0 2rem;
    font-size: 1.4rem;
    color: #ccc;
  }

  &__actions {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
  }

  &__button {
    min-width: 8rem;
    padding: 0.8rem 1.6rem;
    font-size: 1.4rem;
    border-radius: 0.6rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;

    &:focus-visible {
      outline: 2px solid #111;
      outline-offset: 3px;
    }

    @media (hover: hover) {
      &:hover {
        transform: translateY(-1px);
      }
    }

    &--cancel {
      background-color: #e0e0e0;
      color: #333;

      @media (hover: hover) {
        &:hover {
          background-color: #d5d5d5;
        }
      }
    }

    &--confirm {
      background-color: #d32f2f;
      color: #fff;

      @media (hover: hover) {
        &:hover {
          background-color: #b71c1c;
        }
      }
    }
  }
}

.sign-out-form {
  display: none;
}

.account-index {
  padding-top: 15rem;
}

.admin-users-menu {
  margin: 4rem auto 0;
  max-width: 960px;

  &__title {
    margin-bottom: 2rem;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }

  &__item {
    margin: 0;
  }

  &__link {
    display: block;
    border-radius: 1.5rem;
    background-color: #222;
    padding: 2rem 2.4rem;
    color: #f3f3f3;
    text-decoration: none;
    position: relative;
    overflow: hidden;
  }

  &__name {
    font-size: 2.2rem;
    margin-bottom: 0.8rem;
    color: #fff;
  }

  &__description {
    margin: 0;
    font-size: 1.4rem;
    line-height: 1.6;
    color: #bbbbbb;
  }

  @media screen and (max-width: 640px) {
    margin-top: 3rem;

    &__link {
      padding: 1.8rem 2rem;
    }

    &__name {
      font-size: 2rem;
    }
  }
}
