div.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    @media screen and (max-width:500px) {
        top: 55%;
    }
}

div.top-title {
    text-align: center;
    h1 {
        font-size: 10rem;
    }
    h2 {
        font-size: 3rem;
        margin-top: -1rem;
    }
    @media screen and (max-width:800px) {
        h1 {
            font-size: 7rem;
        }
        h2 {
            font-size: 2rem;
        }
    }
}

div.sign-form {
    margin-top: 2rem;
    width: 50%;
    margin: auto;
    @media screen and (max-width:800px) {
        width: 90%;
    }
    h2 {
        font-size: 2.5rem;
        text-align: center;
    }   
    .actions {
        text-align: center;
        margin-top: 2rem;
        input {
            width: 10rem;
            height: 3rem;
            background-color: #007700;
            color: #ccc;
            border: 0.5px solid #ccc;
            border-radius: 0;
            font-size: 1.6rem;
            @media (hover:hover) {
                &:hover {
                    background-color: lighten($color: #000000, $amount: 20%);
                }
            }
        }
    }
    a {
        display: block;
        font-size: 1.6rem;
        color: inherit;
        &:first-of-type {
            margin-top: 2rem;
        }
    }  
}

div.field {
    label {
        font-size: 2rem;
    }
    input {
        width: 100%;
        font-size: 1.6rem;
    }
    &.remember_me {
        text-align: center;
        label {
            font-size: 1.6rem;
        }
        input {
            width: auto;
        }
    }
    em {
        font-size: 1.6rem;
    }
}