.times-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    border: 1px solid #ccc;
    @media screen and (max-width:800px) {
        top: 55%;
        width: 90%;
    }
    select {
        background-color: #222;
        color: #ccc;
    }
    input {
        background-color: #222;
        border: 1px solid #ccc;
        color: #ccc;
    }
    textarea {
        background-color: #222;
        border: 1px solid #ccc;
        color: #ccc;
    }
    button {
        background-color: #aa0000;
        margin-bottom: 3rem;
        color: #ccc;
        width: 10rem;
        height: 3rem;
        border-radius: 0;
        border: none;
        font-size: 1.6rem;
        @media (hover:hover) {
            &:hover {
                background-color: lighten($color: #000000, $amount: 20%)
            }
        }
    }
}

.times-title {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 3rem;
    text-align: center;
}

.emp-name {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2rem;
}

.work-date {
    text-align: center;
    font-size: 2.2rem;
}

.work-time {
    margin-top: 2rem;
    text-align: center;
    font-size: 2rem;
}

.times-desc {
    margin-top: 2rem;
    textarea {
        width: 50%;
        height: 15rem;
        @media screen and (max-width:800px) {
            width: 90%;
        }
    }
}

.times-submit {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.6rem;
    input {
        background-color: #007700;
        border-radius: 0;
        border: none;
        color: #ccc;
        width: 10rem;
        @media (hover:hover) {
            &:hover {
                background-color: lighten($color: #000000, $amount: 20%);
            }
        }
    }
}

.times-show-wrapper {
    position: absolute;
    width: 50%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    padding: 2rem;
    @media screen and (max-width:800px) {
        width: 90%;
    }
    .times-show-title {
        font-size: 3rem;
        text-align: center;
    }
    .times-show-name {
        font-size: 2.5rem;
        margin-top: 2rem;
        text-align: center;
        span {
            font-size: 1.6rem;
        }
    }
    .times-show-time-container {
        display: flex;
        .times-show-time {
            flex: 1;
            margin-top: 2rem;
            text-align: center;
            font-size: 2.3rem;
            span {
                font-size: 2rem;
                font-weight: bold;
            }
        }
    }
    p {
        font-size: 2rem;
        font-weight: bold;
        width: 80%;
        margin: auto;
        margin-top: 2rem;
    }
    .times-show-desc {
        width: 80%;
        border: 1px solid #ccc;
        margin: auto;
        padding: 0 0.5rem;
        font-size: 1.6rem;
    }
    a {
        display: block;
        text-decoration: none;
        color: inherit;
        font-size: 2rem;
        background-color: #007700;
        width: 10rem;
        text-align: center;
        margin: auto;
        margin-top: 2rem;
        @media (hover:hover) {
            &:hover {
                filter: brightness(1.1);
            }
        }
    }
}