.users-index-title {
    font-size: 3rem;
    text-align: center;
}

.monthly-note-display {
    margin-top: 2rem;
    background-color: #1f1f1f;
    border-radius: 1.2rem;
    border: 1px solid #2d2d2d;
    padding: 1.6rem;

    &__label {
        font-size: 1.4rem;
        font-weight: 500;
        color: #999;
        margin-bottom: 0.8rem;
    }

    &__content {
        font-size: 1.5rem;
        line-height: 1.7;
        color: #d9d9d9;
        max-height: 300px;
        overflow-y: auto;

        p {
            margin: 0;

            &:not(:last-child) {
                margin-bottom: 0.5rem;
            }
        }

        &--empty {
            color: #666;
            font-style: italic;
        }
    }
}

.users-index {
    display: grid;
    gap: 1rem;
    grid-template-columns: 
    repeat(auto-fit, minmax(300px, 1fr));
    width: 100%;
    margin-top: 1rem;
    .index-content {
        position: relative;
        border-radius: 1.5rem;
        background-color: #222;
        padding: 1rem;
        .index-content-name {
            font-size: 1.6rem;
            a {
                color: inherit;
                font-size: 2.5rem;
            }
        }
        .index-content-container {
            display: flex;
            margin-top: 1rem;
            .content {
                position: relative;
                padding: 0 1rem;
                flex: 1;
                text-align: center;
                font-size: 1.6rem;
                height: 10rem;
                p {
                    &:last-of-type {
                        position: absolute;
                        right: 1rem;
                        bottom: 0;
                        text-align: right;
                    }
                }
                .length {
                    margin-top: 2rem;
                    font-size: 2.5rem;
                }
                &:first-of-type {
                    p:first-of-type,
                    .length {
                        font-weight: bold;
                    }
                }
                &:nth-of-type(2) {
                    border-left: 0.5px solid #ccc;
                }
            }
        }
    }
}
